.p-t-5 {
  padding-top: 35%;
}

.card-title {
  margin-left: 20%;
}

.thin-line {
  border: 1px solid #e3e3e3;
  margin-top: 10%;
  margin-bottom: 10%;
}

@media (min-width: 996px) {
  .p-t-5 {
    padding-top: 0;
  }

  .card {
    width: 500px;
    margin-top: 150px;
    margin-left: 300px;
  }

  .card-title {
    margin-left: 30%;
  }
}
